meta(charset='utf-8')
title WarShips
//- fonts
link(href='../assets/BlackOpsOne-Regular.ttf', rel='stylesheet')
//- jquery
script(src='../assets/jquery-3.1.1.js')
//- bootstrap
link(rel='stylesheet', href='../assets/bootstrap.min.css')
link(rel='stylesheet', href='../assets/bootstrap-theme.min.css')
script(src='bootstrap.min.js')
//- my css
link(rel='stylesheet', href='../stylesheets/all.css')
