<html>

<head>
  <meta charset="utf-8" />
  <title>WarShips</title>
  <link href="../assets/BlackOpsOne-Regular.ttf" rel="stylesheet" />
  <script src="../assets/jquery-3.1.1.js"></script>
  <link rel="stylesheet" href="../assets/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/bootstrap-theme.min.css" />
  <script src="bootstrap.min.js"></script>
  <link rel="stylesheet" href="../stylesheets/all.css" />
</head>

<body>
  <section class="sh-background" id="cadastro">
    <img class="center-block lyt-img-login" src="../images/logo.png" />
    <form class="text-center form-login" action="home.html">
      <h1 class="sh-text-title">ENTRE PARA A GUERRA</h1>
      <input class="text-center center-block" type="text" name="usuario" value="USUARIO" />
      <input class="text-center center-block" type="text" name="senha" value="SENHA" />
      <input class="text-center center-block" type="text" name="email" value="EMAIL" />
      <a href="login.html">
        <input class="btn btn-danger lyt-btn-align sh-text-default btn-cadastrar" type="button" value="FUGIR" />
      </a>
      <input class="btn btn-success lyt-btn-align sh-text-default btn-logar" type="submit" value="ALISTAR-SE" />
    </form>
    <script src="../javascripts/all.js"></script>
  </section>
</body>

</html>