<html>

<head>
  <meta charset="utf-8" />
  <title>WarShips</title>
  <link href="../assets/BlackOpsOne-Regular.ttf" rel="stylesheet" />
  <script src="../assets/jquery-3.1.1.js"></script>
  <link rel="stylesheet" href="../assets/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/bootstrap-theme.min.css" />
  <script src="bootstrap.min.js"></script>
  <link rel="stylesheet" href="../stylesheets/all.css" />
  <script src="../javascripts/jsGrid.js"></script>
  <link href="../stylesheets/grid.css" rel="stylesheet" />
</head>

<body>
  <section class="sh-background" id="game-on">
    <header class="cmp-header text-center">
      <img class="cmp-simple-logo" src="../images/logo-sem-vermelho.png" />
      <div class="cmp-data-user sh-div-default js-data-user">
        <h2>JOGADOR 123</h2>
        <p>MOEDAS: 1000</p>
        <p>PONTOS: 2000</p>
        <button class="btn btn-primary">SAIR</button>
      </div>
    </header>
    <div class="lyt-div-default text-center lyt-search-player sh-div-default active modal">
      <h2>PROCURANDO JOGADOR</h2> 
      <img src="../images/spin.svg" />
    </div>
    <div class="lyt-div-default text-center lyt-found-player sh-div-default not-active modal">
      <h2>JOGADOR ENCONTRADO</h2> 
      <img src="../images/checked.png" />
    </div>
    <div class="lyt-div-default text-center lyt-chose-skin sh-div-default not-active modal">
      <h2>ESCOLHA SUA SKIN</h2> 
      <select class="selectpicker center-block">
        <option value="padrao">padrao</option>
        <option value="galaxia">galaxia</option>
        <option value="pirata">pirata</option>
      </select>
      <button class="center-block btn btn-success sh-text-default js-confirm-skin">CONFIRMAR</button>
    </div>
    <div class="lyt-div-default text-center lyt-position-boats sh-div-default not-active modal">
      <h2>POSICIONE SEUS NAVIOS</h2>
      <div class="board">
        <div class="displays">
          <div class="bottom">
            <ul class="grid grid-position"></ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="topPanel">
          <div class="layout">
            <div class="buttons self">Posicionar</div>
            <div class="buttons random">Random</div>
          </div>
        </div>
        <div class="console"><span class="text"></span>
        </div>
      </div>
    </div>
    <div class="temporario">
      <button class="btn btn-primary" id="1">1</button>
      <button class="btn btn-primary" id="2">2</button>
      <button class="btn btn-primary" id="3">3</button>
      <button class="btn btn-primary" id="4">4</button>
    </div>
    <script src="../javascripts/all.js"></script>
  </section>
</body>

</html>