<html>

<head></head>
<meta charset="utf-8" />
<title>WarShips</title>
<link href="../assets/BlackOpsOne-Regular.ttf" rel="stylesheet" />
<script src="../assets/jquery-3.1.1.js"></script>
<link rel="stylesheet" href="../assets/bootstrap.min.css" />
<link rel="stylesheet" href="../assets/bootstrap-theme.min.css" />
<script src="bootstrap.min.js"></script>
<link rel="stylesheet" href="../stylesheets/all.css" />
<script src="js.js"></script>
<link href="style.css" rel="stylesheet" />

<body></body>
<section class="sh-background" id="game-on">
  <header class="cmp-header text-center"></header>
  <img class="cmp-simple-logo" src="../images/logo-sem-vermelho.png" />
  <div class="cmp-data-user sh-div-default js-data-user">
    <h2>JOGADOR 123</h2>
    <p>MOEDAS: 1000</p>
    <p>PONTOS: 2000</p>
  </div>
  <div class="lyt-div-default text-center lyt-position-boats sh-div-default active modal"></div>
  <div class="board">
    <div class="displays"></div>
    <div class="bottom">
      <ul class="grid"></ul>
    </div>
  </div>
  <div class="panel">
    <div class="topPanel"></div>
    <div class="layout">
      <div class="buttons self">Posicionar</div>
      <div class="buttons random">Random</div>
    </div>
    <div class="console"></div><span class="text"></span>
  </div>
</section>

</html>