@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script type="text/javascript">
        $(function() {
            niveis = @Html.Raw(ViewBag.Niveis);

            for(var nI=0;nI<niveis.length;nI++){
                var newRow = $('#niveis').dataTable().fnAddData([
                        "",
                        niveis[nI].Id,
                        niveis[nI].Nome,
                        niveis[nI].QtdColunas,
                        niveis[nI].QtdLinhas,
                        niveis[nI].QtdNav01,
                        niveis[nI].QtdNav02,
                        niveis[nI].QtdNav03,
                        niveis[nI].QtdNav04,
                        niveis[nI].QtdNav05,
                        niveis[nI].TempoJogada,
                        niveis[nI].TempoPosicionamento
                ]);

                var oSettings = $('#niveis').dataTable().fnSettings();
                var nTr = oSettings.aoData[newRow[0]].nTr;
                $(nTr).addClass('linhaTabela');
                $('td', nTr)[1].setAttribute('class', 'idNivel');
                $('td', nTr)[2].setAttribute('class', 'nome');
                $('td', nTr)[3].setAttribute('class', 'qtdColunas');
                $('td', nTr)[4].setAttribute('class', 'qtdLinhas');
                $('td', nTr)[5].setAttribute('class', 'qtdNav01');
                $('td', nTr)[6].setAttribute('class', 'qtdNav02');
                $('td', nTr)[7].setAttribute('class', 'qtdNav03');
                $('td', nTr)[8].setAttribute('class', 'qtdNav04');
                $('td', nTr)[9].setAttribute('class', 'qtdNav05');
                $('td', nTr)[10].setAttribute('class', 'tempoJogada');
                $('td', nTr)[11].setAttribute('class', 'tempoPosicionamento');
            }
        });

        var tbNiveis = $('#niveis').DataTable({
            responsive: true,
            "language": {
                "lengthMenu": "Exibir _MENU_ niveis por página",
                "zeroRecords": "Desculpe, não encontrei registros",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Sem informações disponíveis",
                "infoFiltered": "(Total de _MAX_ registros)",
                "search": "Pesquisar:",
                "paginate": {
                    "previous": "Página anterior",
                    "next": "Próxima página"
                },
                "sDom": 'T<"clear">lfrtip',
                "oTableTools": {
                    "sRowSelect": "single"
                }
            },
            responsive: {
                details: {
                    type: 'column'
                }
            },
            columnDefs: [{
                className: 'control',
                orderable: false,
                targets: 0
            }],
            order: [1, 'asc']

        });
        
        $('#niveis tbody').on('click', 'tr', function () {
            console.log('xxxxxxxx');
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                tbNiveis.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                console.log($(this).attr('class'));
            }
        });

    </script>

  <script src="http://localhost:5471/assets/js/Site.js"></script>
  <script src="http://localhost:5471/assets/js/nivel.js"></script>
        }

<div class="body-content">
	
        <h3>Níveis</h3>

        <div class="modal fade" id="modalIndex" role="dialog">
            <div class="modal-dialog">
    
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" id="modal-body"></div>
                <div class="modal-footer"></div>
              </div>
      
            </div>
        </div>
    
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" onclick="addNivel();">Incluir Nivel</button>
            <button type="button" class="btn btn-default" onclick="editNivel();">Editar Nivel</button>
            <button type="button" class="btn btn-default" onclick="delNivel();">Excluir Nivel</button>
        </div>
        <br />
        <br />

        <table id="niveis" class="display nowrap ui-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Nivel  &nbsp;&nbsp;<i class="fa fa-lg fa-table fa-blue-pastel" aria-hidden="true"></i></th>
                    <th>Qtd Colunas  &nbsp;&nbsp;<i class="fa fa-lg fa-table fa-blue-pastel" aria-hidden="true"></i></th>
                    <th>Qtd Linhas  &nbsp;&nbsp;<i class="fa fa-lg fa-table fa-blue-pastel" aria-hidden="true"></i></th>
                    <th>Qtd Porta-aviões  &nbsp;&nbsp;<img src="http://localhost:5471/assets/images/ship-aircraft-carrier.png" alt="Porta aviões" height="24" width="24"></th>
                    <th>Qtd Destroiers  &nbsp;&nbsp;<img src="http://localhost:5471/assets/images/ship-destroyer.png" alt="Destroyer" height="24" width="24"></th>
                    <th>Qtd Encouraçados  &nbsp;&nbsp;<img src="http://localhost:5471/assets/images/ship-encouracado.png" alt="Encouraçado" height="24" width="24"></th>
                    <th>Qtd Cruzadores  &nbsp;&nbsp;<img src="http://localhost:5471/assets/images/ship-cruise.png" alt="Cruzador" height="24" width="24"></th>
                    <th>Qtd Submarinos  &nbsp;&nbsp;<img src="http://localhost:5471/assets/images/ship-submarine.png" alt="Submarino" height="24" width="24"></th>
                    <th>Tempo de jogada  &nbsp;&nbsp;<i class="fa fa-lg fa-clock-o fa-blue-pastel" aria-hidden="true"></i></th>
                    <th>Tempo de posicionamento  &nbsp;&nbsp;<i class="fa fa-lg fa-clock-o fa-blue-pastel" aria-hidden="true"></i></th>
                    <!--<th>Ativo &nbsp;&nbsp;<i class="fa fa-lg fa-exclamation-circle fa-blue-pastel" aria-hidden="true"></i></th>
                    <th>Data de criação &nbsp;&nbsp;<i class="fa fa-lg fa-calendar fa-blue-pastel" aria-hidden="true"></i></th>
                    <th>Tamanho &nbsp;&nbsp;<i class="fa fa-lg fa-expand fa-blue-pastel" aria-hidden="true"></i></th>-->
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="criarNivel">
            
			<div id="alertNivelExist" style="width: 100%; float: left; display: none;" class="alert alert-danger fade in"></div>
            
			<div class="form-group">
                <label class="" for="lblNomNivel">Nome do Nivel</label>
                <input type="text" id="txtNomNivel" maxlength="50" class="form-control" placeholder="Nome do Nivel..." onchange="removeClass(this);" />
            </div>

            <div class="form-group">
                <label class="" for="lblQtdColunas">Qtd Colunas</label>
                <input type="number" id="txtQtdColunas" maxlength="3" class="form-control" placeholder="Qtd Colunas..." onchange="removeClass(this);" />
            </div>

            <div class="form-group">
                <label class="" for="lblQtdLinhas">Qtd Linhas</label>
                <input type="number" id="txtQtdLinhas" maxlength="3" class="form-control" placeholder="Qtd Linhas..." onchange="removeClass(this);" />
            </div>

            <div class="form-group">
                <label class="" for="lblQtdPortaAvioes">Qtd Porta Aviões</label>
                <input type="number" id="txtQtdPortaAvioes" maxlength="3" class="form-control" placeholder="Qtd Porta Aviões..." onchange="removeClass(this);" />
            </div>

            <div class="form-group">
                <label class="" for="lblQtdDestroiers">Qtd Destroiers</label>
                <input type="number" id="txtQtdDestroiers" maxlength="3" class="form-control" placeholder="Qtd Destroiers..." onchange="removeClass(this);" />
            </div>

            <div class="form-group">
                <label class="" for="lblQtdEncouracados">Qtd Encouraçados</label>
                <input type="number" id="txtQtdEncouracados" maxlength="3" class="form-control" placeholder="Qtd Encouraçados..." onchange="removeClass(this);" />
            </div>

            <div class="form-group">
                <label class="" for="lblQtdCruzadores">Qtd Cruzadores</label>
                <input type="number" id="txtQtdCruzadores" maxlength="3" class="form-control" placeholder="Qtd Cruzadores..." onchange="removeClass(this);" />
            </div>

            <div class="form-group">
                <label class="" for="lblQtdSubmarinos">Qtd Submarinos</label>
                <input type="number" id="txtQtdSubmarinos" maxlength="3" class="form-control" placeholder="Qtd Submarinos..." onchange="removeClass(this);" />
            </div>

            <div class="form-group">
                <label class="" for="lblTempoJogada">Tempo Jogada (segundos)</label>
                <input type="number" id="txtTempoJogada" maxlength="3" class="form-control" placeholder="Tempo Jogada (segundos)..." onchange="removeClass(this);" />
            </div>

            <div class="form-group">
                <label class="" for="lblTempoPosicionamento">Tempo Posicionamento (segundos)</label>
                <input type="number" id="txtTempoPosicionamento" maxlength="3" class="form-control" placeholder="Tempo Posicionamento (segundos)..." onchange="removeClass(this);" />
            </div>

           <!-- <div class="form-group">
                <label class="" id="lblStatusNivel" for="cmbStatusNivel">Ativo</label>
                <select id="cmbStatusNivel" class="form-control">
                    <option value="1" selected>Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
			
			<div class="form-group">
                <label class="" for="lblTamanhoNivel">Tamanho do Tabuleiro</label>
                <input type="number" id="txtTamanhoNivel" maxlength="3" class="form-control" placeholder="Tamanho do Tabuleiro..." onchange="removeClass(this);" />
            </div> -->
     
        </div>
	</div>
	