@charset "UTF-8";
#game-on {
  /*
    separei os atributos comuns de modal em uma classe só
    o que rola com as posições é que tudo o que é relativo,
    é relativo a alguma coisa, então só funciona se tiver
    um elemento pai absoluto de quem herdar a referência de
    posicionamento.
    Então game-on é o pai absoluto, e tudo que tá dentro dele
    vai ser relativo a ele.
    Definindo a largura do modal, margens automáticas centralizam
    o elemento.
  */
  position: absolute;
  /*
    exceto esse cara aqui, que tem que ficar sempre no canto direito da tela,
    então é absoluto mesmo.
  */ }
  #game-on .modal {
    position: relative;
    margin: auto;
    width: 800px; }
  #game-on .lyt-search-player img,
  #game-on .lyt-found-player img,
  #game-on .lyt-position-boats img {
    max-height: 80px; }
  #game-on .lyt-search-player.not-active,
  #game-on .lyt-found-player.not-active,
  #game-on .lyt-position-boats.not-active {
    display: none; }
  #game-on .lyt-search-player.active,
  #game-on .lyt-found-player.active,
  #game-on .lyt-position-boats.active {
    display: block; }
  #game-on .lyt-chose-skin.not-active {
    display: none; }
  #game-on .lyt-chose-skin.active {
    display: block; }
  #game-on .lyt-chose-skin select {
    margin-bottom: 20px; }
  #game-on .lyt-chose-skin .lyt-main-boats div {
    display: inline-block; }
  #game-on .lyt-main-field {
    width: 400px;
    background-image: url("../images/mar.jpg");
    background-size: cover; }
  #game-on .temporario {
    position: absolute;
    bottom: 10;
    right: 10; }

#home h2 {
  font-size: 35px; }

#home .lyt-main.active {
  filter: brightness(30%); }

#home .lyt-main div {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }

#home .lyt-levels {
  z-index: 2;
  position: absolute;
  left: 32%;
  top: 30%;
  transition: all 1s ease-in-out; }
  #home .lyt-levels.not-active {
    display: none; }
  #home .lyt-levels.active {
    display: visible; }
  #home .lyt-levels .sh-text-title {
    font-size: 25px; }
  #home .lyt-levels .lyt-level {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 20%; }
    #home .lyt-levels .lyt-level button {
      width: 60%; }

#home .lyt-shops {
  padding: 10px;
  z-index: 2;
  position: absolute;
  left: 20%;
  top: 30%;
  transition: all 1s ease-in-out; }
  #home .lyt-shops img {
    width: 70px;
    height: 80px; }
  #home .lyt-shops.not-active {
    display: none; }
  #home .lyt-shops.active {
    display: visible; }
  #home .lyt-shops .sh-text-title {
    font-size: 25px; }
  #home .lyt-shops .item.sell {
    display: inline-block;
    background-color: #0040ff; }
    #home .lyt-shops .item.sell button.sec-sell {
      width: 60%; }
  #home .lyt-shops .item {
    padding: 10px;
    margin: 15px;
    border-radius: 15px; }
  #home .lyt-shops .item.buy {
    display: inline-block;
    background-color: #595959; }

#home h2 {
  margin-top: 5px; }

#home .preview img, #home .preview button {
  display: block;
  margin: auto; }

#home .preview, #home .sec-sell, #home .sec-buy {
  display: inline-block; }

#login .lyt-img-login, #cadastro .lyt-img-login {
  z-index: -1;
  max-width: 400px; }

#login form, #cadastro form {
  margin-top: -100px; }
  #login form input, #cadastro form input {
    display: block;
    margin-top: 10px;
    border-radius: 7px; }
  #login form h1, #cadastro form h1 {
    display: block;
    margin: auto; }
  #login form input.lyt-btn-align, #cadastro form input.lyt-btn-align {
    display: inline-block; }

@font-face {
  font-family: 'Black Ops One';
  src: url("../assets/BlackOpsOne-Regular.ttf"); }

body section {
  width: 100%;
  min-height: 100%;
  padding-bottom: 20px; }

.sh-background {
  background-image: url("../images/fundo.png");
  background-size: 100% 100%;
  position: relative;
  font-family: 'Black Ops One', cursive;
  color: black;
  font-size: 20px; }

.sh-text-title {
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  font-size: 45px; }

.sh-text-default {
  color: black;
  font-size: 20px; }

.sh-div-default {
  background-color: white;
  border-color: black;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  vertical-align: top; }

.cmp-header {
  padding-top: 15px; }
  .cmp-header .cmp-simple-logo,
  .cmp-header .cmp-data-user {
    display: inline-block; }
  .cmp-header .cmp-simple-logo {
    max-width: 300px;
    margin-right: 50px;
    margin-top: -50px;
    z-index: -1; }
