<div class="container-fluid text-center content-middle">
    <div class="row content">
        <div class="col-sm-12 text-left">
            <h1>Bem vindo!</h1>
            <p>Aqui será feita a manutenção do jogo, cadastro de skins para os barcos, que serão comprados pelos jogadores e também os níveis de jogo podem ser cadastrados</p>
            <hr>
            <h3>Configurações</h3>

            <div class="row">

                @using (Html.BeginForm("Index", "Skin", FormMethod.Post, new { id = "SkinsForm" }))
                {
            
                    @Html.AntiForgeryToken()

                    <a href="javascript:document.getElementById('SkinsForm').submit()">
                        <div class="square square-xs-5 square-sm-4 square-md-3 square-lg-2 text-center float-left skins">
                            <div class="content-square">
                                <div class="table-square">
                                    <div class="table-cell-square">
                                        <span style="font-size: 25px;">SKINS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
            
                }



                @using (Html.BeginForm("Index", "Nivel", FormMethod.Post, new { id = "NiveisForm" }))
                {
            
                    @Html.AntiForgeryToken()
            
                    <a href="javascript:document.getElementById('NiveisForm').submit()">
                        <div class="square square-xs-5 square-sm-4 square-md-3 square-lg-2 text-center float-left niveis">
                            <div class="content-square">
                                <div class="table-square">
                                    <div class="table-cell-square">
                                        <span style="font-size: 25px;">NÍVEIS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
		       
                }


					
            </div>

        </div>
    </div>
</div>
