html
  head
    include components/_head.pug
  body
    section#home.sh-background
      include components/_header-log-in.pug
      .lyt-main.text-center
        .lyt-game-play.sh-div-default
          h2 HORA DA GUERRA
          button.btn.btn-primary.sh-text-default.js-btn-play JOGAR
        .lyt-store.sh-div-default
          h2 CUSTOMIZE-SE
          button.btn.btn-primary.sh-text-default.js-btn-shop COMPRAR
        .lyt-ranking.sh-div-default.js-ranking
          h2 RANKING
          ol
            li JOGADOR123 (2000)
            li FULANO (1500)
            li SNIPER (1200)
      .lyt-levels.sh-div-default.not-active
        h2 ESCOLHA A DIFICULDADE
        .js-appended-levels
          a.lyt-level.center-block(href='game_on.html?level=1')
            button.btn.btn-primary.sh-text-title FÁCIL
          a.lyt-level.center-block(href='game_on.html?level=2')
            button.btn.btn-primary.sh-text-title MÉDIO
          a.lyt-level.center-block(href='game_on.html?level=3')
            button.btn.btn-primary.sh-text-title DIFÍCIL
      .lyt-shops.sh-div-default.not-active
        .item.sell
          img(src="")
          h2 SKIN PIRATA
          p PREÇO: 100 MOEDAS
          button.btn.btn-danger COMPRAR
        .item.sell
          img(src="")
          h2 SKIN FUTURO
          p PREÇO: 100 MOEDAS
          button.btn.btn-danger COMPRAR
        .item.buy
          img(src="")
          h2 SKIN COCA-COLA
          p PREÇO: GRÁTIS
          button.btn.buttons COMPRADO
    script(src='../javascripts/all.js')
