html
  include components/_head.pug
  body
    section#login.sh-background
      img.center-block.lyt-img-login(src='../images/logo.png')
      form.text-center.form-login(action='home.html')
        h1.sh-text-title LOGIN
        input.text-center.center-block(type='text' name='usuario' value='USUARIO')
        input.text-center.center-block(type='text' name='senha' value='SENHA')
        input.btn.btn-danger.lyt-btn-align.sh-text-default.btn-cadastrar(type='button' value='CADASTRAR')
        input.btn.btn-success.lyt-btn-align.sh-text-default.btn-logar(type='submit' value='LOGAR')
      script(src='../javascripts/all.js')
