html
  head
  include components/_head.pug
  script(src='js.js')
  link(href='style.css', rel='stylesheet')
  body
  section#game-on.sh-background
    include components/_header-log-in.pug
    .lyt-div-default.text-center.lyt-position-boats.sh-div-default.active.modal
    .board
      .displays
      .bottom
        ul.grid
    .panel
      .topPanel
      .layout
        .buttons.self Posicionar
        .buttons.random Random
      .console
      span.text
